In [1]:
# Import the dependencies.
import pandas as pd
import os
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#Store the CSV you saved created in part one into a dataframe.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Cidreira,-30.18,-50.21,68.88,93,97,7.36,BR,2020-10-21 01:50:44
1,1,Lata,40.16,-8.33,61.00,94,17,1.01,PT,2020-10-21 01:50:44
2,2,Port Alfred,-33.59,26.89,55.51,76,0,7.81,ZA,2020-10-21 01:50:44
3,3,Yulara,-25.24,130.99,89.60,31,0,5.82,AU,2020-10-21 01:50:45
4,4,Macusani,-14.08,-70.43,38.32,77,94,5.99,PE,2020-10-21 01:50:45

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
#Configure gmaps to use my Google API key.
import gmaps
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Yulara,-25.24,130.99,89.60,31,0,5.82,AU,2020-10-21 01:50:45
11,11,San Antonio,29.42,-98.49,84.20,54,40,20.80,US,2020-10-21 01:49:23
12,12,Moindou,-21.69,165.68,82.40,54,75,13.87,NC,2020-10-21 01:50:46
15,15,Sarangani,5.40,125.46,84.07,74,92,9.82,PH,2020-10-21 01:50:47
17,17,Illela,13.73,5.30,82.15,27,0,1.16,NG,2020-10-21 01:50:47
20,20,Alta Floresta,-9.88,-56.09,77.74,62,0,0.36,BR,2020-10-21 01:47:55
32,32,Butaritari,3.07,172.79,82.38,73,46,10.36,KI,2020-10-21 01:50:51
33,33,Faanui,-16.48,-151.75,78.96,80,1,14.27,PF,2020-10-21 01:50:51
34,34,Kapaa,22.08,-159.32,81.00,78,90,4.70,US,2020-10-21 01:50:51
39,39,Mayumba,-3.43,10.66,76.69,88,100,6.08,GA,2020-10-21 01:50:52

In [13]:
preferred_cities_df.count()

City_ID       171
City          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
Country       171
Date          171
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
3          Yulara      AU     89.60 -25.24  130.99
11    San Antonio      US     84.20  29.42  -98.49
12        Moindou      NC     82.40 -21.69  165.68
15      Sarangani      PH     84.07   5.40  125.46
17         Illela      NG     82.15  13.73    5.30
20  Alta Floresta      BR     77.74  -9.88  -56.09
32     Butaritari      KI     82.38   3.07  172.79
33         Faanui      PF     78.96 -16.48 -151.75
34          Kapaa      US     81.00  22.08 -159.32
39        Mayumba      GA     76.69  -3.43   10.66

In [24]:
# Set parameters to search for a hotel.
params = {"radius": 5000,"type": "lodging","key": g_key}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
# Store the DataFrame Row.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))